*.pyc
/.idea
/*/__pycache__
*.pth
*.t7
*.onnx
*.engine
/dataset
*.tar
*.pt
*backup*
*debug*

reid/fast-reid/projects/save_merge/
reid/fast-reid/projects/vis_rank_list_baseline/
reid/fast-reid/projects/vis_rank_list_mask/
reid/fast-reid/datasets/reid/
reid/fast-reid/projects/robio2022/logs
reid/fast-reid/logs
tracking/eval/data
